@import url('https://fonts.googleapis.com/css2?family=Battambang&family=Open+Sans:wght@400;600&family=Siemreap&display=swap');
.titleQu {
	color: black;
    font-weight: bold;
    margin: 0;
}
.content {
	color: black;
	font-weight: normal;
}
.user {
	width: 25px;
	border-radius: 50%;
}
.nameuser {
	margin: auto;
	color: black;
	text-transform: capitalize;
    font-weight: normal;
    font-size: medium;
	font-family: 'Battambang','Open Sans';
}
.ulHeader{
    list-style: none;
    padding: 0;
    border-bottom: 3px solid #4C68FF;
}
.subHeader{
    padding: 10px;
    background: #4C68FF;
    color: white;
    font-size: 18px;
    width: 135px;
    font-weight: 400;
}
