.ulHeader{
    list-style: none;
    padding: 0;
    border-bottom: 3px solid #4C68FF;
}
.subHeader{
    padding: 10px;
    background: #4C68FF;
    color: white;
    font-size: 18px;
    width: 135px;
    font-weight: 400;
}